* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.container {
    background-color: black;
}
#bg {
    height: 500px;
    border-radius: 5px;
    background: linear-gradient(
      to right,
      rgb(255, 218, 218) 0%,
      rgb(255, 218, 218) 50%,
      white 50%,
      white 100%
    );
}
section article img {
    height: 120px;
    width: 120px;
}
#middle-screen {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}
#player-1, #player-2, #button-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.player-name-1, .player-name-2 {
    font-size: 30px;
    text-transform: uppercase;
  }
#global-p1, #global-p2 {
    font-size: 70px;
    margin-bottom: 50px;
}
.current {
    margin-top: 120px;
    align-self: center;
    font-size: 1.2rem;
}
#new-game {
    position: relative;
    top: -40px;
}
#spin1 {
    visibility: visible;
}
#spin2 {
    visibility: hidden;
}



/*MEDIAS QUERIES*/
@media screen and (max-width:515px) {
    section article img {
        height: 90px;
        width: 90px;
    }
    .player-name-1, .player-name-2 {
        font-size: 20px;
    }
    #global-p1, #global-p2 {
        font-size: 45px;
    }
    * {
        font-size: 12px;
    }
    .current {
        margin-top: 200px;
    }
}