* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Lato', sans-serif;
}
.container {
    background: linear-gradient(
      to right,
      rgb(254, 240, 240) 0%,
      rgb(254, 240, 240) 50%,
      white 50%,
      white 100%
    );
}
section {
    height: 500px;
    border-radius: 3px;
}
section article img {
    height: 100px;
    width: 100px;
}
#middle-screen {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
}
#player-one, #player-two {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.player-name-1, .player-name-2 {
    font-size: 40px;
    text-transform: uppercase;
  }
#global-p1, #global-p2 {
    font-size: 80px;
    font-weight: lighter;
    margin-bottom: 50px;
}
